
/* 初始化设置 */
* {
    margin: 0;
    padding: 0;
    font-size: 0.28rem;
    font-family: 'microsoft yahei', '微软雅黑', Verdana, Arial, Helvetica,
    sans-serif;
}

.font_bold {
    font-family: bold;
}

.font_extralight {
    font-family: extralight;
}

.font_heavy {
    font-family: heavy;
}

.font_light {
    font-family: light;
}

.font_medium {
    font-family: medium;
}

ul li {
    list-style: none;
}

body {
    background-color: #ffffff;
}

a {
    outline: none;
    color: inherit;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    star: expression(this.onFocus=this.blur());
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: 0;
    color: inherit;
    text-decoration: none;
}

input, textarea {
    outline-style: none;
    outline-width: 0px;
    border: none;
    border-style: none;
    text-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    outline-color: transparent;
    box-shadow: none;
}

/* 浮层 start */

.ylbs-float {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.ylbs-float .ylbs-float-content {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    min-height: 5.6rem;
}

.ylbs-float .ylbs-float-content .ylbs-float-content-header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0.2rem;
}

.ylbs-float .ylbs-float-content .ylbs-float-content-header .ylbs-float-content-header-left, .ylbs-float .ylbs-float-content .ylbs-float-content-header .ylbs-float-content-header-right {

}

.ylbs-float .ylbs-float-content .ylbs-float-content-header .ylbs-float-content-header-left {
    margin-left: 0.1rem;
}

.ylbs-float .ylbs-float-content .ylbs-float-content-header .ylbs-float-content-header-right {
    margin-right: 0.2rem;
}

/* 浮层 end */

/* Cell start */

.ylbs-cell {
    display: flex;
    font-size: 0.28rem;
    padding: 0.2rem 0.22rem;
    align-items: center;
    border-top: 1px solid #dddddd;
}

.ylbs-cell .ylbs-cell-name {
    width: 1.28rem;
}

.ylbs-cell .ylbs-cell-content {
    margin-left: 0.46rem;
    margin-right: 0.26rem;
    flex: 1;
}

.ylbs-cell .ylbs-cell-icon {
    /*height: 0.44rem;*/
    /*width: 0.44rem;*/
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.ylbs-cell .ylbs-cell-icon img {
    height: 0.24rem;
    width: 0.14rem;
}

/* Cell end */

/* header start */
.ylbs-header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.88rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}

.ylbs-header .ylbs-header-left, .ylbs-header .ylbs-header-right {
    width: 0.44rem;
    /*height: 0.44rem;*/
    /*background-color: red;*/
}

.ylbs-header .ylbs-header-left {
    margin-left: 0.1rem;
}

.ylbs-header .ylbs-header-right {
    margin-right: 0.1rem;
}

/* header end */

/* footer start */

.ylbs-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 0.82rem;
    border-top: 1px solid #8c8c8c;
    padding: 0.12rem 0;
}

.ylbs-footer .ylbs-index, .ylbs-footer .ylbs-car, .ylbs-footer .ylbs-dingdan, .ylbs-footer .ylbs-people {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ylbs-footer .ylbs-index img, .ylbs-footer .ylbs-car img, .ylbs-footer .ylbs-dingdan img, .ylbs-footer .ylbs-people img {
    width: 0.45rem;
    height: 0.47rem;
}

/* footer end */

/* checkbox start */

.ylbs-checkbox {
    display: inline-block;
    width: 0.51rem;
    height: 0.51rem;
    background-image: url("img/weixuanzhong.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ylbs-active {
    background-image: url("img/xuanzhong.png");
}

/* chekbox end */

/* button start */
.ylbs-button {
    display: inline-block;
    width: 1.92rem;
    height: 0.64rem;
    line-height: 0.64rem;
    background-color: #ffdf0a;
    border-radius: 0.04rem;
    text-align: center;
}

.ylbs-border {
    border: 1px solid #8c8c8c;
    background: white;
}

.ylbs-button-small {
    display: inline-block;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    width: 0.64rem;
    background-color: #ffdf0a;
    padding: 0.03rem 0.06rem;
}

/* button end */

.text-right {
    text-align: right;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

/* Mint UI 样式修改*/

/* 轮播图 */
.mint-swipe-indicator.is-active {
    background: #fee009;
}

.mint-swipe-indicator {
    background: #FFFFFF;
    width: 0.13rem;
    height: 0.13rem;
    opacity: 1;
}

/* toast 浮层 */
.mint-toast-text {
    font-size: 0.28rem;
}

/* messagebox弹窗 */
.mint-msgbox-title {
    font-size: 0.28rem;
}

.mint-msgbox-message {
    font-size: 0.3rem;
    line-height: 0.75rem;
}

.mint-msgbox-btns {
    height: 0.75rem;
    line-height: 0.75rem;
}

.mint-msgbox-confirm {
    color: #ffc107;
}

.mint-msgbox-confirm:active {
    color: #ffc107;
}

/* loading弹窗 */
.mint-spinner-snake {
    height: 0.6rem !important;
    width: 0.6rem !important;
}

/* Mobile-Tree-Area地区控件 */

.local-panel-body-list {
    height: 6rem;
}

.local-panel-head {
    height: 0.6rem;
    line-height: 0.6rem;
}

.local-panel-head .close {
    width: 0.8rem;
}

.local-panel-body-tabs li.cur {
    color: #ffc107;
}

.local-panel-body-tabs li span {
    height: 0.62rem;
    line-height: 0.62rem;
}

.local-panel-body-tabs li.cur span:after {
    background: #ffc107;
}